<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О курсе Специалист по кибербезопасности</title>
</head>
<body>
    <table>
        <tr>
            <td>Название:</td>
            <td>Специалист по кибербезопасности</td>
        </tr>
        <tr>
            <td>Компания:</td>
            <td>Skillbox</td>
        </tr>
        <tr>
            <td>Стоимость:</td>
            <td>95 000 руб.</td>
        </tr>
        <tr>
            <td>Подробное описание</td>
            <td><a href="https://skillbox.ru/course/profession-data-scientist/?from=skillbox">О курсе</a></td>
        </tr>
    </table>
</body>
</html>