<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Advert</title>
</head>
<body>
    <h4>Прошел все курсы на SkillBox. Продаю готовые домашние задания.</h4>
    <ul>
       <li><a href="/advert1">Python - разработчик</a></li>
       <li><a href="/advert2">Специалист по кибербезопасности</a></li>
       <li><a href="/advert3">Android - разработчик</a></li>
       <li><a href="/advert4">Data Scientist</a></li>
       <li><a href="/advert5">Java Developer PRO</a></li>
    </ul>
</body>
</html>