<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О курсе Java Developer PRO</title>
</head>
<body>
    <table>
        <tr>
            <td>Название:</td>
            <td>Java Developer PRO</td>
        </tr>
        <tr>
            <td>Компания:</td>
            <td>Skillbox</td>
        </tr>
        <tr>
            <td>Стоимость:</td>
            <td>155 000 руб.</td>
        </tr>
        <tr>
            <td>Подробное описание</td>
            <td><a href="https://skillbox.ru/course/java-dev/?from=skillbox">О курсе</a></td>
        </tr>
    </table>
</body>
</html>