<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О курсе Android - разработчик</title>
</head>
<body>
    <table>
        <tr>
            <td>Название:</td>
            <td>Android - разработчик</td>
        </tr>
        <tr>
            <td>Компания:</td>
            <td>Skillbox</td>
        </tr>
        <tr>
            <td>Стоимость:</td>
            <td>155 000 руб.</td>
        </tr>
        <tr>
            <td>Подробное описание</td>
            <td><a href="https://skillbox.ru/course/profession-android-developer-2021-apply/?from=skillbox">О курсе</a></td>
        </tr>
    </table>
</body>
</html>